<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>

      <div class="form-group">
        <label class="col-md-4">Survey Name</label>
        <input type="text" class="form-control" required name="survey_name" formControlName="survey_name" #survey_name/>
      </div>

      <div *ngIf="angForm.controls['survey_name'].invalid && (angForm.controls['survey_name'].dirty || angForm.controls['survey_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['survey_name'].errors.required">
          Survey Name is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Kurtosis</label>
        <select formControlName="survey_kurt" class="form-control" name="survey_kurt" required #survey_kurt>
          <option  [value]=option.val *ngFor="let option of kurtOptions">{{option.label}}</option>
        </select>
      </div>

      <div *ngIf="angForm.controls['survey_kurt'].invalid && (angForm.controls['survey_kurt'].dirty || angForm.controls['survey_kurt'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['survey_kurt'].errors.required">
          Kurtosis is required.
        </div>
      </div>
      
      <div class="form-group">
          <label class="col-md-4">Statements</label>
          <!-- TODO: Statements component-->
          <input type="text" class="form-control" disabled/>
      </div>

      <div class="form-group">
        <button (click)="addSurvey(survey_name.value, survey_kurt.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</div>